@use "../rules/mixin" as *;

.settings {
  position: fixed;
  left: -220px;
  top: 0;
  width: 220px;
  height: 100vh;
  background: linear-gradient(to right, rgb(255 255 255 / 80%) 50%, rgb(0 0 0 / 80%) 50%);
  z-index: 10001;
  transition: var(--mainTransition);
  .icon {
    position: absolute;
    top: 250px;
    right: -35px;
    background-color: white;
    color: var(--mainColor);
    width: 35px;
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    cursor: pointer;
  }
  .settings-container {
    padding: 20px;
    .option-box {
      background-color: #efefef;
      padding: 10px 5px;
      box-shadow: 0 0 8px 0px black;
      border-radius: 8px;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      h4 {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        
      }
      .colors-list {
        @include f-between;
        flex-wrap: wrap;
        li {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          opacity: 0.5;
          margin-left: 5px;
          margin-bottom: 5px;
          cursor: pointer;
          &:first-child {
            background-color: #009688;
          }
          &:nth-child(2) {
            background-color: #e91e63;
          }
          &:nth-child(3){
            background-color: #9c27b0;
          }
          &:nth-child(4){
            background-color: #3f51b5;
          }
          &:nth-child(5){
            background-color: #795548;
          }
          &:nth-child(6){
            background-color: #03a9f4;
          }
        }
      }

      .random-bg,
      .nav-op {

        span {
          cursor: pointer;
          display: inline-block;
          width: 50px; 
          padding: 5px;
          background-color: #3f51b5;
          color: #fff;
          border-radius: 5px;
          opacity: 0.5;
        }
      }
      .rest {
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #6e0000;
        color: #fff;
        border-radius: 20px;
      }
    }

  }
}
// toggel this in javascript
.settings.show-settings {
  left: 0;
}
// active li ===> active-Color
.settings .colors-list li.active-color {
  opacity: 1 !important;
  border: 2px solid black;
}
// random-bg span ====> active-select
// random-bg span ====> active-select
.option-box .random-bg span.active-select,
.option-box .nav-op span.active-select {
  opacity: 1 !important;
}




